<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Waiter Web-app</title>
	<link rel="stylesheet" href="/css/style.css" />
</head>
  <body>

    {{{body}}}

    </body>
<script>
const checked=document.getElementsByName("day");
const  mon= document.querySelector("#Mon");
const  tue= document.querySelector("#Tues");
const  wed= document.querySelector("#Wed");
const  thur= document.querySelector("#Thurs");
const  fri= document.querySelector("#Fri");
const  sat= document.querySelector("#Sat");
const  sun= document.querySelector("#Sun");

mon.checked={{monChecked}};
tue.checked={{tuesChecked}};
wed.checked={{wedChecked}};
thur.checked={{thurChecked}};
fri.checked={{friChecked}};
sat.checked={{satChecked}};
sun.checked={{sunChecked}};

</script>
</html>

