<div class="container  admin">
<h1>NOLU'S COFFEE SHOP</h1>
<h2>Weekly Roster</h2>
<div class="grid">

<div id="mon" class="schedule-day">
<h3>Mon</h3>
{{#each monday}}
<p class="monP">{{this}}</p>
{{/each}}
</div>

<div id="tues" class="schedule-day">
<h3>Tues</h3>
{{#each tuesday}}
<p class="tueP">{{this}}</p>
{{/each}}
</div>

<div id="wed" class="schedule-day">
  <h3>Wed</h3>
{{#each wednesday}}
<p class="wedP">{{this}}</p>
{{/each}}
</div>

<div id="thur"class="schedule-day">
  <h3>Thur</h3>
{{#each thursday}}
<p class="thurP">{{this}}</p>
{{/each}}
</div>

<div id="fri" class="schedule-day">
  <h3>Fri</h3>
{{#each friday}}
<p class="friP">{{this}}</p>
{{/each}}
</div>

<div id="sat" class="schedule-day">
  <h3>Sat</h3>
{{#each saturday}}
<p class="satP">{{this}}</p>
{{/each}}
</div>

<div id="sun" class="schedule-day">
  <h3>Sun</h3>
{{#each sunday}}
<p class="sunP">{{this}}</p>
{{/each}}
</div>
</div>

  <form action="/clear" method="post">
  <button type="submit" id="clear" class="reset">Reset</button>
</form>
</div>

<script>

document.addEventListener("DOMContentLoaded", function () {
  const scheduleDays = document.querySelectorAll(".schedule-day");

  scheduleDays.forEach(function (day) {
    const numberOfPeople = day.querySelectorAll("p").length;
    if (numberOfPeople === 1) {
      day.classList.add("red-bg");
    } else if (numberOfPeople === 2) {
      day.classList.add("orange-bg");
    } else if (numberOfPeople >= 3) {
      day.classList.add("green-bg");
    }
  });
});


// Add an event listener to the reset button
const clearButton = document.querySelector("#clear");

clearButton.addEventListener("click", function (e) {
  const clearData = window.confirm(
    "Are you sure you want to clear the schedule?\nThis will reset all schedules"
  );

  if (!clearData) {
    e.preventDefault();
  }
});

</script>






