<div class="container  admin">
<h1>NOLU'S COFFEE SHOP</h1>
<h2>Week Schedule</h2>

<ul class="color-list">
  <h4>Color legend:</h4>
  <li>
    <span class="color-sq red"></span> Red: 1 waiter within a single day
  </li>
  <li>
    <span class="color-sq orange"></span> Orange: 2 waiters within a single day
  </li>
  <li>
    <span class="color-sq green"></span> Green: 3 waiters within a single day
  </li>
  <li>
    <span class="color-sq black"></span> Grey: More than 3 waiters within a single day
  </li>
</ul>


<div class="grid">
<div id="mon" class="schedule-day">

<h3>Mon</h3>
{{#each monday}}
<p class="monP">{{this}}</p>

{{/each}}
</div>
<div id="tues" class="schedule-day">
<h3>Tues</h3>
{{#each tuesday}}
<p class="tueP">{{this}}</p>

{{/each}}
</div>
<div id="wed" class="schedule-day"><h3>Wed</h3>
{{#each wednesday}}
<p class="wedP">{{this}}</p>

{{/each}}
</div>
<div id="thur" class="schedule-day"><h3>Thur</h3>
{{#each thursday}}
<p class="thurP">{{this}}</p>

{{/each}}
</div>
<div id="fri" class="schedule-day"><h3>Fri</h3>
{{#each friday}}
<p class="friP">{{this}}</p>

{{/each}}
</div>
<div id="sat"  class="schedule-day"><h3>Sat</h3>
{{#each saturday}}
<p class="satP">{{this}}</p>

{{/each}}
</div>
<div id="sun" class="schedule-day"><h3>Sun</h3>
{{#each sunday}}
<p class="sunP">{{this}}</p>

{{/each}}
</div>
</div>

 <div id="update">
  <h2>Remove Waiter</h2>
  <div id="deleteWaiter">
  <form action="/removeWaiter" method="post">
  <label for="waiterDelete">Select Waiter:</label>
    <select name="waiterDelete">
{{#each names}}
<option>{{this}}</option>
{{/each}}
</select>
<label for="deleteDay">Select Day:</label>
<select name="deleteDay">
{{#each days}}
<option> {{this.day}}</option>
{{/each}}
</select>
  <button type="submit" id="remove">Remove</button>
</form>
</div>

  
  <form action="/clear" method="post">
  <button type="submit" id="clear">Reset</button>
</form>
</div>
<script>

document.addEventListener("DOMContentLoaded", function () {
  const scheduleDays = document.querySelectorAll(".schedule-day");

  scheduleDays.forEach(function (day) {
    const numberOfPeople = day.querySelectorAll("p").length;
    if (numberOfPeople === 1) {
      day.classList.add("red-bg");
    } else if (numberOfPeople === 2) {
      day.classList.add("orange-bg");
    } else if (numberOfPeople === 3) {
      day.classList.add("green-bg");
    } else if (numberOfPeople > 3){
      day.classList.add("black-bg");
    }
  });
});

// Reset button confirmation

// Function to clear cookies for checkboxes
function clearCookiesForCheckboxes() {
  const checkboxes = document.querySelectorAll('input[type="checkbox"]');
  checkboxes.forEach(checkbox => {
    setCookie(checkbox.id, false); // Clear the cookie by setting its value to false
    checkbox.checked = false; // Uncheck the checkbox
  });
}

// Add an event listener to the reset button
const clearButton = document.querySelector("#clear");

clearButton.addEventListener("click", function (e) {
  const clearData = window.confirm(
    "Are you sure you want to clear the schedule?\nThis will reset all schedules"
  );

  if (clearData) {
    clearCookiesForCheckboxes(); // Call the function to clear cookies for checkboxes
  } else {
    e.preventDefault();
  }
});

</script>





