<div class="Heading">
   <h1>NOLU'S COFFEE SHOP</h1> 
   {{#if messages.error}}
<div class="flash-error">
    {{messages.error}}
</div>
{{/if}}

{{#if messages.success}}
<div class="flash-success">
    {{messages.success}}
</div>
{{/if}}
</div>
<div class="key">
     <h3>NB: The table won't display days with no waiters.</h3>

    <ul class="adminUl">
        <li><div class="green-key"></div> Green color - Sufficient waiters for the day</li>
        <li><div class="orange-key"></div> Orange color - Less than 3 waiters for the day</li>
        <li><div class="red-key"></div>  Red color - Over 3 waiters for the day</li>
    </ul>
</div>
<div class="Onduty">
    <div class="flash-success"></div>
<div class="flash-error"></div>
    <form action="/days" method="GET"></form>
<table>
  <thead>
    <tr>
      {{#each allSchedules}}
        <th class="{{this.status}}">
          {{@key}}
        </th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    <tr>
      {{#each allSchedules}}
        <td>
          {{#each this.waiters}}
            {{this}}<br>
          {{/each}}
        </td>
      {{/each}}
    </tr>

  </tbody>
</table>
    </form>
</div>
<form action="reset" method="POST">
    {{!-- <input class="resetB" type="submit" value="reset"> --}}
    <button type="submit" id="clear" class="reset">Reset</button>
</form>
<script>
// Reset button confirmation

// Add an event listener to the reset button
const clearButton = document.querySelector("#clear");

clearButton.addEventListener("click", function (e) {
  const clearData = window.confirm(
    "Are you sure you want to clear the schedule?\nThis will reset all schedules"
  );

  if (!clearData) {
    e.preventDefault();
  }
});


</script>






