<div class="Heading">
    <h1>NOLU'S COFFEE SHOP</h1>
   <h2>Week Schedule</h2> 
   {{#if messages.error}}
<div class="flash-error">
    {{messages.error}}
</div>
{{/if}}

{{#if messages.success}}
<div class="flash-success">
    {{messages.success}}
</div>
{{/if}}
</div>
<div class="key">
    
    <ul class="adminUl">
        <li>Color legend:</li>
        <li><div class="red-key"></div> Red: 1 waiter within a single day  </li>
        <li><div class="orange-key"></div> Orange: 2 waiters within a single day</li>
        <li><div class="green-key"></div>  Green: 3 waiters within a single day</li>
        <li><div class="grey-key"></div> Grey: More than 3 waiters within a single day </li>
    </ul>
</div>
<div class="Onduty">
  <div class="flash-success"></div>
  <div class="flash-error"></div>
  <form action="/days" method="GET"></form>
  <div class="grid">
    {{#each allSchedules}}
      <div class="{{getStatus this.count}}">
        <h2>{{@key}}</h2>
        {{#each this.waiters}}
          <p>{{this}}</p>
        {{/each}}
      </div>
    {{/each}}
  </div>
  </form>
</div>

<form action="reset" method="POST">
    {{!-- <input class="resetB" type="submit" value="reset"> --}}
    <button type="submit" class="reset" id="clear">Reset</button>
</form>
<script>
// Reset button confirmation
// Add an event listener to the reset button
const clearButton = document.querySelector("#clear");

clearButton.addEventListener("click", function (e) {
  const clearData = window.confirm(
    "Are you sure you want to clear the schedule?\nThis will reset all schedules"
  );

  if (clearData) {
    clearCookiesForCheckboxes(); // Call the function to clear cookies for checkboxes
  } else {
    e.preventDefault();
  }
});


</script>