<div class="container waiters">
<h1>NOLU'S COFFEE SHOP</h1>
<h2>{{username}}'s Schedule</h2>
<h4>Select days</h4>
<p class="error">{{messages.error}}</p>
<p class="success">{{messages.success}}</p>
<form action="/waiters" method="post" id="waitersForm">
<div class="checkbox">
<input type="checkbox" value="1" id="Mon" name="day" {{#if daysChecked.[0]}}checked{{/if}} /><label for="Mon" id="red">Monday</label><br>
<input type="checkbox" value="2" id="Tues" name="day" {{#if daysChecked.[1]}}checked{{/if}} /><label for="Tues">Tuesday</label><br>
<input type="checkbox" value="3" id="Wed" name="day" {{#if daysChecked.[2]}}checked{{/if}} /><label for="Wed">Wednesday</label><br>
<input type="checkbox" value="4" id="Thurs" name="day" {{#if daysChecked.[3]}}checked{{/if}} /><label for="Thurs">Thursday</label><br>
<input type="checkbox" value="5" id="Fri" name="day" {{#if daysChecked.[4]}}checked{{/if}} /><label for="Fri">Friday</label><br>
<input type="checkbox" value="6" id="Sat" name="day" {{#if daysChecked.[5]}}checked{{/if}} /><label for="Sat">Saturday</label><br>
<input type="checkbox" value="7" id="Sun" name="day" {{#if daysChecked.[6]}}checked{{/if}} /><label for="Sun">Sunday</label><br>

 {{!-- {{#each days}}
                <input type="checkbox" value="{{this.dayid}}" id="{{this.day}}" name="day"
                    {{#if daysChecked.[@index]}} checked {{/if}} /> <!-- Set 'checked' attribute conditionally -->
                <label for="{{this.day}}">{{this.day}}</label><br>
            {{/each}} --}}

</div>

<button type="submit"  id="update">Update</button>
</form>
</div>
<script>
setTimeout(function(){
    document.querySelector(".error").style.display="none";
},3000);

document.querySelector(".error").style.display="block";

setTimeout(function(){
    document.querySelector(".success").style.display="none";
},3000);

document.querySelector(".success").style.display="block";
</script> 