<div class="container waiters">
  <h1>NOLU'S COFFEE SHOP</h1>
  <h2>{{username}}'s Schedule</h2>
  <h4>Select days below:</h4>
  <p class="error">{{messages.error}}</p>
  <p class="success">{{messages.success}}</p>
  <form action="/waiters" method="post" id="waitersForm">
    {{#each displayDays}}
    <div class="checkbox">
      <input type="checkbox" value="{{this.dayid}}" id="{{this.day}}" name="day" />
      <label for="{{this.day}}" id="red">{{this.day}}</label><br>
    </div>
    {{/each}}
    <button type="submit" id="update">Update</button>
  </form>
</div>

<script>
  
  setTimeout(function() {
    document.querySelector(".error").style.display = "none";
  }, 3000);

  document.querySelector(".error").style.display = "block";

  setTimeout(function() {
    document.querySelector(".success").style.display = "none";
  }, 3000);

  document.querySelector(".success").style.display = "block";
</script>






