<div class="container waiters">
  <h1>NOLU'S COFFEE SHOP</h1>
  <h2>{{username}}'s Schedule</h2>
  <h4>Select days below:</h4>
  <p class="error">{{messages.error}}</p>
  <p class="success">{{messages.success}}</p>
  <form action="/waiters" method="post" id="waitersForm">
    {{#each displayDays}}
    <div class="checkbox">
      <input type="checkbox" value="{{this.dayid}}" id="{{this.day}}" name="day" />
      <label for="{{this.day}}" id="red">{{this.day}}</label><br>
    </div>
    {{/each}}
    <button type="submit" id="update">Update</button>
  </form>
</div>

<script>
  // Function to set cookies
  function setCookie(name, value) {
    document.cookie = name + "=" + value + "; path=/";
  }

  // Function to get cookies
  function getCookie(name) {
    var nameEQ = name + "=";
    var cookies = document.cookie.split(';');
    for (var i = 0; i < cookies.length; i++) {
      var cookie = cookies[i];
      while (cookie.charAt(0) === ' ') cookie = cookie.substring(1, cookie.length);
      if (cookie.indexOf(nameEQ) === 0) return cookie.substring(nameEQ.length, cookie.length);
    }
    return null;
  }

  // Initialize checkboxes
  const checkboxes = document.querySelectorAll('input[type="checkbox"]');
  checkboxes.forEach(checkbox => {
    checkbox.addEventListener('change', function() {
      setCookie(checkbox.id, checkbox.checked);
    });

    // Check the checkbox based on its stored state
    const isChecked = getCookie(checkbox.id) === 'true';
    checkbox.checked = isChecked;
  });

  setTimeout(function() {
    document.querySelector(".error").style.display = "none";
  }, 3000);

  document.querySelector(".error").style.display = "block";

  setTimeout(function() {
    document.querySelector(".success").style.display = "none";
  }, 3000);

  document.querySelector(".success").style.display = "block";
</script>






